*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px 10%;
}

.btn{
    width: 100%;
    border-radius: 10px;
    background-color: #3D633B;
    color: #ffffffd3;
    padding: 15px;
    margin: 20px 0;
    border: none;
    font-size: 20px;
}

.note{
    width: 100%;
    background-color: #D2D2D2;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 5px;
}

.note-text{
    padding: 10px;
    color: rgba(13, 43, 12, 0.856);
}

.note-buttons{
    text-align: right;
}

.note-btn{
    background-color: #D2D2D2;
    border: none;
}

.submit{
    padding: 10px;
    background-color: #8aa889;
    border-radius: 5px;
}

.input{
    width: 100%;
    margin: 10px 0;
    padding: 5px;

}